#content {
  margin-left: auto;
  margin-right: auto;

}

body{
    background-image: url("images/vqGzVS.jpg");
    background-size: cover;
    background-repeat: repeat;
}

#greeting-container {
  margin-top: 20px;
}


h1{
    color: brown;
}

div {
    text-align: center;
    color: white;
}

h2{
    border: 1px solid powderblue;
    padding: 20px
    
}
p{

}