#content {
  margin-left: auto;
  margin-right: auto;

}

body{
    background-color: burlywood
}

#greeting-container {
  margin-top: 20px;
}


h1 {
    color: brown
}

div {
    text-align: center
}

p {
  
}
