#content {
  margin-left: auto;
  margin-right: auto;

}

body{
    background-image: url("images/vqGzVS.jpg");
    background-size: cover;
    background-repeat: repeat;
}

#greeting-container {
  margin-top: 20px;
}


h1{
    color: brown;
}

div {
    text-align: center;
    color: white;
}
.comments_div{
    text-align: left;
    color: white;
}
img{
    width:auto;
	max-width: 60%;
	height:auto;
}

h2{
    border: 1px solid powderblue;
    padding: 20px;
    
}
.comment-box{
    padding: 20px 30px;
    line-height: 28px;
}
label{
    font-size: 10;
}